
h2[data-v-5452fc]{font-size:4rem
}
button[data-v-5452fc]{background-color:#1e90ff;outline:0;border:1px solid #f0f0f0;border-radius:1rem;color:#fff;font-size:2rem;margin-top:2rem;padding:1rem 2rem;transition:all .5s ease
}
button[data-v-5452fc]:hover{background-color:#0252a0
}
.container[data-v-5452fc]{text-align:center;width:80vh;margin:1rem auto
}
.message[data-v-5452fc]{font-size:1.5rem
}
.quote[data-v-5452fc]{font-size:2rem
}
.book[data-v-5452fc]{font-style:italic
}